@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 5, 5);
    color: white;
    display: flex;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

span {
    font-family: "Poppins", sans-serif;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}